/* styles.css */

body {
    font-family: 'Arial', sans-serif;
    margin: 20px;
    background-color: #f4f4f4;
    color: #333;
}

h1 {
    color: #007BFF;
}

h2 {
    color: #009688;
}

p {
    color: #666;
    line-height: 1.5;
}

img {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}



ul {
    list-style-type: none;
    padding: 0;
}

li {
    margin-bottom: 10px;
}

a {
    color: #007BFF;
    transition: color 0.3s ease-in-out;
}

a:hover {
    color: #0056b3;
    text-decoration: underline;
}
